<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.shiratsuki.walkietalkie">

    <!-- 设置网络等权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- 允许应用可以接收点亮屏幕或解锁广播 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 允许程序修改全局音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 用于Android M及以上系统，申请加入忽略电池优化白名单 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- 允许应用在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 避免Android8.0安装APK时提示解析安装包错误 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 清理后台程序权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 记录任务队列 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".WalkieTalkieApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme">

        <!-- 适配全面屏，屏幕高宽比设置为2.1 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activity.LogoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页面 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <!-- 通用Html页面 -->
        <activity
            android:name=".activity.HtmlActivity"
            android:screenOrientation="portrait" />

        <!-- 个人信息设置页面 -->
        <activity
            android:name=".activity.settings.SetPersonalInfoActivity"
            android:screenOrientation="portrait" />

        <!-- 图片裁剪页面 -->
        <activity
            android:name=".activity.CropActivity"
            android:screenOrientation="portrait" />

        <!-- 语言设置页面 -->
        <activity
            android:name=".activity.settings.SetLanguageActivity"
            android:screenOrientation="portrait" />

        <!-- 语音服务器设置页面 -->
        <activity
            android:name=".activity.settings.SetVoiceServerActivity"
            android:screenOrientation="portrait" />

        <!-- 消息服务器设置页面 -->
        <activity
            android:name=".activity.settings.SetMessageServerActivity"
            android:screenOrientation="portrait" />

        <!-- 一对一通话响铃界面 -->
        <activity
            android:name=".activity.P2PRingingActivity"
            android:screenOrientation="portrait" />

        <!-- 局域网通信服务-->
        <service
            android:name=".service.VoiceService"
            android:enabled="true"
            android:persistent="true"
            android:process=":voiceservice" />

        <!-- WebSocket通信服务服务 -->
        <service
            android:name=".service.WebSocketService"
            android:enabled="true"
            android:persistent="true" />

        <!-- 耳机媒体键按下的广播接收器 -->
        <receiver
            android:name=".broadcast.MediaButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="CANT_SPEAK" />
            </intent-filter>
        </receiver>

        <!-- 用于结合SharedPreferences使用的跨进程数据共享 -->
        <provider
            android:name=".contentprovider.SPContentProvider"
            android:authorities="jp.co.shiratsuki.walkietalkie"
            android:exported="false"
            android:process=":provider" />

    </application>

</manifest>